.introduce-main-product {
  margin-top: 20px;
  border: 1px solid #1b1111;
  min-height: 500px;
  max-height: 100vh;
}

@keyframes marquee-scroll {
  0%   { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.marquee__children {
  animation: marquee-scroll 20s linear infinite;
}